@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


.logo {
    width: 3rem;
    height: auto;
    padding: 0;
    margin: 0;  
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
#pc {
    color: rgb(122, 221, 224);
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 250;
}
h4 {
    font-family: 'Montserrat', sans-serif; 
}
p {
    font-family: 'Roboto', sans-serif;
}
.navbar {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 5px 1rem ;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 0;
    margin-bottom: 0;
    
    
}
.navbar-nav {
    text-align: center;
}

.container-fluid {
    text-align: center;
    
    font-family: 'Montserrat', sans-serif;
}
#btn-div {
    padding: 15px;
}
#c-btn {
font-size: 18px;
}
#sp-div {
    text-align: center;
    margin-bottom: 2rem; 

}

#fp-div {
    text-align: center;
    margin-bottom: 2rem;   
}
#fp-p {
    margin-top: 15px;
}
#f-logo {
    padding: 2rem;
    padding-bottom: 1rem;
    width: 500px;
    height: auto;
}
#fp-heading {
    
    position: relative;
    left: 10px;
}
#e-div {
    
}
#s-div {
    text-align: center; 
}
#m-div{
    text-align: center;
}
#c-div{
    text-align: center;
}
#c-div a {
    font-size: 15px;
}
#c-div1{
    margin: 0 30px;
}
#m-div-1 {
    
}
#r-list {

}
#r-list a {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: rgb(68, 68, 68);
    font-weight: 400; 
}
#li-2 a:hover{
    color: rgb(68, 68, 68);
}
#r-list a:hover {
    text-decoration: none;
    color: rgb(88, 166, 218);
}

#div-cards {
    text-align: center;
}
#div-cards div {
    margin: 10px;
    text-align: center;
}
#footer-t {
    justify-content: space-around;
}
.footer-top {
    background-color: azure;
}
.footer-top h3 {
    font-size: 1.3rem;
    font-weight: 500;
}
.footer-top p {
    color: rgb(99, 101, 102);
}
#links a {
    color: rgb(99, 101, 102);
}
#email {
    color: rgb(99, 101, 102);
}
@media screen and (max-width:750px){
    .navbar {
        font-size: 20px;
    }
}

@media screen and (max-width: 479px) {
    #fp-heading {
        padding: 2rem;
        position: relative;
        left: 0px;
    }

    .navbar {
        font-size: 18px;
    }
}